VITE_SUPABASE_URL=https://sjzouyjyduvsptwlpote.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNqem91eWp5ZHV2c3B0d2xwb3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDcxNjk3NjgsImV4cCI6MjA2Mjc0NTc2OH0.E9lDsNuoHXKIOolj5ALdKl7HxwrvkYmF-9Tl8um5tnY